*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    scroll-behavior: smooth;
    font-family: poppins;
}
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
}
/*section-1 navbar*/
.section-1{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-top: 5rem;

}
.floating-bg{
    height: 150vw;
    width: 150vw;
    background-color:rgba(50, 231, 255, 0.8);
    position: absolute;
    top: -120vw;
    left: calc(50%  - 75vw);
    border-radius: 45% ;
    animation: rotation 30s infinite;
}
.floating-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(50, 231, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40%;
    animation: rotation 30s infinite ;

}
@keyframes rotation{
     0%{
        transform: rotate(0);
     }
     100%{
        transform: rotate(360deg);
     }
} 
.nav-bar{
    position: relative;
    z-index: 20   ;
    display: flex;
    justify-content: space-evenly;

}
.nav-link{
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    color: #fff;
    width: 1.5rem;
    word-wrap: break-word;
    text-align: center;
    transition: all 2.5s;
    font-family: cursive;
    
}
.nav-link:hover{
    width: 15rem;
    background-color: rgba(255, 255, 255, .2);
    transition: all 2.5s;
}
.section-1-head{
    font-size: 9rem;
    position: absolute;
    font-family: cursive;
    top: 25vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    text-align: center;
    width: 95rem;
    padding: .8rem 1.5rem  ;
    border-radius: 2rem;
    opacity: .9;
    color: #fff;
    text-shadow: .3rem .3rem .3rem #888;

} 




/*End of section 1*/  
/*section-2*/
.section-2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.customer-img{
    width: 10rem;
    height: 10rem;
}
.section-heading{
    text-transform: uppercase;
    color: #999;
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    opacity: .5;
    text-shadow: 2rem 2rem 4rem #aaa;
    margin-bottom: 10rem;

}
.customer-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}
.customer{
    width: 35rem;
    height: 50rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 1rem 1rem 2rem #e7e2e2, -1rem -1rem 2rem #ddd;
    transition: box-shadow .5s;
}
.customer:hover{
    box-shadow: 2rem 2rem 3rem #eee, -2rem -2rem 3rem #eee;
}
.customer:first-child{
    align-self: flex-end;
}
.customer:last-child{
    align-self: flex-start;
}
.customer-text{
    font-size: 1.8rem;
    margin: 2.5rem 0  ;
    text-align: justify;
    font-family:  cursive;
}
.customer-text::first-letter{
    margin-left: 1rem;
}
 .customer-img{
    border-radius: 10rem;
    margin: 2rem 0;
    object-fit: cover;

 }
 .costomer-name{
    font-size: 2rem;
    font-weight: 700;
 }

/*end of section 2 */
/*section 3*/
.section-3{
    height: 100vh;
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0;
    
}
.team-warp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}
.team-member{
    width: 35rem;
    background-color: #fffeee;
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 1rem 1rem 2rem #ddd , -1rem -1rem 2rem #eee;
    position: relative;
    opacity: .7;
    transition: opacity .5s;
}
.team-member:first-child{
    align-self: flex-start;
}
.team-member:last-child{
    align-self: flex-end;
}
.team-member:hover{
    opacity: 1;
}

.story-wrap{
    width: 100%;
    height: 100%;
    background-color: rgb(236, 78, 78 , .9);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    transform: scale(0);
    transform-origin: top right;
    border-radius: 50rem 0 50rem 50rem;
    transition: all .5s; 
}
.change.story-wrap{
    transform: scale(1);
    border-radius: 0;
}
.story-head{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}
.story-p{
    font-size: 1.8rem;
    color: #eee;
    text-align: justify;
    letter-spacing: .1rem;
    text-indent: 2rem;
}
.team-img{
    width: 100%;
    border-radius: .5rem;
}
.team-name{
    font-size: 2.3rem;
    font-weight: 700;
    color:#796717;
    margin-top: 2rem;
}
.team-name span{
    font-size: 1.7rem;
}
.skills{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}
.skills li{
    font-size: 1.5rem;
    color:#505050 ;
}
.project-btn{
    background-color: #fab34a;
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    letter-spacing: .2rem ;
}
.story-btn{
    width: 4rem;
    height: 4rem;
    background-color: #222;
    position: absolute;
    top: -1rem ;
    right: -1rem;
    border-radius: 5rem;
    z-index: 50;
}
.section-4{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-container{
    width: 80%;
    height: 40%;
    background-color: #e5e9ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: .3rem .3rem .4rem #ccc, -.1rem -.1rem .4rem #ccc;
    border-radius: .5rem;
    perspective: 100rem;

}
.form-img{
    width: 55rem;
    background-color:rgba(50, 231, 255, 0.8) ;
    opacity: .8;
    border-radius: .5rem;
    padding: 5rem;
    transform: rotatey(20deg);
    transition: all .5s;
}
.form-img:hover{
    transform: rotateY(20deg) translateY(-2rem);
}
.form{
    width: 45rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: .5rem;
    box-shadow: 3rem 3rem 4rem #aaa;
    transform: rotateY(-20deg);
    transition: all .5s;
}
.form:hover{
    transform: rotateY(-20deg) translateY(-2rem);
}
input,textarea{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    border-radius: 2rem;
    box-shadow: inset .1rem .1rem .2rem #ddd ,
     inset -.1rem -.1rem -.2rem #ddd;
}
textarea{
    max-height: 15rem;
    min-height: 10rem;
    max-width: 100%;
    min-width: 70%;
}
.submit{
    background-color:rgba(50, 231, 255, 0.8) ;
    color: #fff;
    font-weight: bolder;
    letter-spacing: .5rem;
    cursor: pointer;
    transition: backgroun-color .5s;
}
.submit:hover{
    background-color: #32e7ff;
}
.copyright{
    font-size: 2rem;
    letter-spacing: .2rem;
    color:#444;
    margin-top: 5rem;
}

.circle{
    height: 5rem;
    width: 5rem;
    bottom: 5rem;
    right: 5rem;
    position: fixed;
    border-radius: 40px;
  background: rgba(50, 231, 255, 0.8);  
  transition: all .5s;
}
.circle:hover{
    background: red;
}
/*resposive*/
@media(max-width:1400px){
    .floating-bg{
        top:120vw;
    }
    .section-1-head{
        font-size: 6rem;
        top: 25vw;
        width: 70rem;
    }
    .nav-link{
        font-size: 2rem;
    }
    .section-heading{
        font-size: 8rem;
        margin-bottom: 10rem;
    }
    .section-2{
        height: auto;
    }
    .customer-wrap{
        flex-wrap: wrap;
    }
    .customer{
        margin: 5rem 10rem;

    }
    .section-3{
        height: auto;
    }
    .team-warp{
        flex-wrap: wrap;

    }
    .team-member{
        margin: 5rem 10rem;
    }
    .form-container{
        height: 60%;
    }
    .form-img{
        display: none;
    }
    .form{
        transform: translateY(0);
    }
    .form:hover{
        transform: translateY(1rem);
    }
    .copyright{
        margin: 5rem 0 4rem 0;
    }
}

@media (max-width: 1150px) {
    .floating-bg {
      top: -110vw;
    }
  
    .section-1-heading {
      font-size: 5rem;
      top: 30vw;
      width: 60rem;
    }
  
    .logo i {
      font-size: 9rem;
    }
  }
  
  @media (max-width: 950px) {
    .floating-bg {
      top: -100vw;
    }
  
    .section-1-heading {
      top: 40vw;
    }
  
    .navbar {
      justify-content: space-around;
    }
  }
  
  @media (max-width: 750px) {
    html {
      font-size: 50%;
    }
  
    .floating-bg {
      top: -90vw;
    }
  
    .section-1-heading {
      top: 48vw;
    }
  
    .section-heading {
      margin-bottom: 5rem;
    }
  }
  
  @media (max-width: 550px) {
    html {
      font-size: 45%;
    }
  
    .floating-bg {
      top: -70vw;
    }
  
    .section-1-heading {
      top: 65vw;
      width: 42rem;
      font-size: 3.5rem;
    }
  
    .section-heading {
      font-size: 6rem;
    }
  
    .customer {
      margin: 5rem 0;
    }
  
    .team-member {
      margin: 5rem 0;
    }
  
    .section-4 {
      height: auto;
    }
  
    .form-container {
      background-color: transparent;
      box-shadow: none;
    }
  
    .contact-form {
      box-shadow: 1rem 1rem 2rem #aaa;
    }
  
    .contact-form:hover {
      box-shadow: 2rem 2rem 3rem #aaa;
    }
  
    .copyright {
      font-size: 1.8rem;
      margin: 5rem;
      text-align: center;
    }
  
    .scroll-up-btn {
      bottom: 2rem;
      right: 2rem;
    }
  }


 